.reset    {margin:0;padding:0;}
.clear    {clear:both;}
.cleared:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.right    {float:right;}
.left    {float:left;}
a img    {border:0;}
img        {max-width:100%;}
header, nav, section, article, aside, footer {display:block;}
body    {margin:0;padding:0;}


body{
background: url("../img/bg-hogg.png")no-repeat 0px 600px;
font-family: verdana, arial, sans-serif; 
font-weight: bold;
color: #74879d;
font-size:12px;
line-height: 24px;
}
#logo {
position: absolute;
height: 73px;
width: 283px;
top: 17px;
left: 17px;
}

#buttons{
position:relative;
top: 25px;
left: 0px;
height: 25px;
width: 100px;
}

#resetbutton, #levelbutton, #myarmybutton, #allarmybutton, #hidebutton{
display: block;
margin-top: 15px;
width: 175px;
}

#myarmybutton, #savebutton, #getbutton{
display: none;
}

#buttonsleft{
position:relative;
top: 0px;
left: -665px;
height: 25px;
width: 125px;
}

#savebutton, #getbutton{
margin-top: 15px;
width: 100px;
height: 25px;
}

.maindiv{
position: absolute;
height: 600px;
width: 500px;
left: 50%;
margin-left: -400px;
top: 100px;
background: #ececf1;
}

#rules{
position: relative;
top:0px;
left: 0px;
margin: 25px;
font-weight: normal;
height: 430px;
overflow-y: auto;
z-index:10;
}
h1{
font-size:18px;
}
p span{
padding: 0px 3px;
border: 1px solid #74879d;
-moz-border-radius: 5px; /* Для Firefox 3 */
-webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
border-radius: 5px; /* Для современных браузеров */
background-color: #dde;
}


.resultdiv{
position: absolute;
height: 600px;
width: 450px;
left: 50%;
top: 100px;
margin-left: 150px;
padding-top: 100px;
}
#signdiv {
position: absolute;
bottom: 0px; 
left:  780px;
margin-top: 50px;

} 

#metr{
	margin-top: 20px;
}

.shadow{
-moz-border-radius: 5px; /* Для Firefox 3 */
-webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
border-radius: 5px; /* Для современных браузеров */

box-shadow:  2px 2px 5px 0px #ccc;
}
.container {
position: absolute;
bottom: 5px;
border-top: 1px solid #74879d;
max-height: 100px;
width: 460px;
padding: 10px 5px 5px 5px;
margin: 15px;
overflow: auto;
}

#armyset {
overflow: auto;
position: absolute;
top: 5px;
height: 400px;
width: 475px;
padding: 10px 5px 5px 5px;
margin: 15px;
}

#armychoice{
width:1700px;
max-height:80px;
}

.iteminset{
text-align: center;
position: relative;
height:102px;
max-height:102px;
width:80px;
max-width:80px;
padding:1px;
display:none;
margin:0 7px 7px 0;
box-shadow:  2px 2px 5px 0px #ccc;
background: #2988c6;
}

.open{
display:inline-block;
opacity:1;
}

.closed{
display:none;
opacity:0;
}

.num{
max-height:30px;
color:#555;
text-align:center;
margin: 1px;
width: 72px;
background-color: #fff3cd;
-moz-border-radius: 5px; /* Для Firefox 3 */
-webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
border-radius: 5px; /* Для современных браузеров */
}

.itemtochoose{
height:72px;
width:72px;
padding:1px;
background: url("../img/bg-army.png") no-repeat;
display:inline-block;
margin:0 6px 0 0;
background-position: 0px -72px;
}

.itemtochoose:hover{
cursor: pointer;
background-position: 0px 0px;
}

.cross {
position: absolute;
top: -5px;
right: -5px;
width: 20px;
height: 20px;
-moz-border-radius: 10px; /* Для Firefox 3 */
-webkit-border-radius: 10px; /* Для Safari 4 и Chrome */
border-radius: 10px; /* Для современных браузеров */
background-color: #9e0b0f;
color: white;
text-align: center;
line-height: 100%;
cursor: pointer;
}
.cross:hover {
background-color: #eb3136;
}

.lvl{
left:-18px;
     position: absolute;
     bottom: 40px;
}
.star {
     left:11px;
     height: 10px;
     position: absolute;
     background: url("../img/asterix.png") no-repeat left center;
}

.star:hover{
     background-position: left top;
}
.activ{
     background-position: left bottom;
}

.l0{ 
width: 88px;
background: none;
}
.l1{ width:77px}
.l2{ width:66px}
.l3{ width:55px}
.l4{ width:44px}
.l5{ width:33px}
.l6{ width:22px}
.l7{ width:11px}

